<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noodp" />
        <title>Cambios en el blog - 2 - Si lo haces, hazlo bien!</title><meta name="Description" content="Hay 10 tipos de personas en el mundo. Las que saben binario y las que no">
<meta name="fediverse:creator" content="@vsantos@mastodon.online">

<meta property="og:image" content="/images/logo_post.jpg" >

<meta name="application-name" content="LoveIt">
<meta name="apple-mobile-web-app-title" content="LoveIt">
<meta name="referrer" content="no-referrer" /><meta name="theme-color" content="#ffffff"><meta name="msapplication-TileColor" content="#da532c"><link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"><link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"><link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"><link rel="manifest" href="/site.webmanifest"><link rel="canonical" href="https://vctrsnts.github.io/2024-05-30-cambios-blog-2/" /><link rel="prev" href="https://vctrsnts.github.io/2024-05-24-cambios-blog-1/" /><link rel="next" href="https://vctrsnts.github.io/2024-06-03-usando-homepage-2/" /><link rel="stylesheet" href="/css/style.min.css"><link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css"></noscript><link rel="preload" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css"></noscript><script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": "Cambios en el blog - 2",
        "inLanguage": "es",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https:\/\/vctrsnts.github.io\/2024-05-30-cambios-blog-2\/"
        },"image": ["https:\/\/vctrsnts.github.io\/images\/Apple-Devices-Preview.png"],"genre": "posts","keywords": "Blog","wordcount":  1325 ,
        "url": "https:\/\/vctrsnts.github.io\/2024-05-30-cambios-blog-2\/","datePublished": "2024-05-30T00:00:00+00:00","dateModified": "2024-05-30T00:00:00+00:00","publisher": {
            "@type": "Organization",
            "name": "vsantos","logo": {
                    "@type": "ImageObject",
                    "url": "https:\/\/vctrsnts.github.io\/images\/logo.png",
                    "width":  129 ,
                    "height":  129 
                }},"author": {
                "@type": "Person",
                "name": "vsantos"
            },"description": ""
    }
    </script></head>
    <body data-header-desktop="fixed" data-header-mobile="auto"><script>(window.localStorage && localStorage.getItem('theme') ? localStorage.getItem('theme') === 'dark' : ('dark' === 'auto' ? window.matchMedia('(prefers-color-scheme: dark)').matches : 'dark' === 'dark')) && document.body.setAttribute('theme', 'dark');</script>

        <div id="mask"></div><div class="wrapper"><header class="desktop" id="header-desktop">
    <div class="header-wrapper">
        <div class="header-title">
            <a href="/" title="Si lo haces, hazlo bien!"><span class="header-title-pre"><i class='fa-brands fa-debian' aria-hidden='true'></i></span>Si lo haces, hazlo bien!</a>
        </div>
        <div class="menu">
            <div class="menu-inner"><a class="menu-item" href="/posts/"> Posts </a><a class="menu-item" href="https://vsantos.envs.net" title="Llibres" rel="noopener noreffer" target="_blank"> Llibres </a><a class="menu-item" href="/tags/"> Etiquetas </a><a class="menu-item" href="/categories/"> Categories </a><a class="menu-item" href="/about/"> About </a><span class="menu-item delimiter"></span><span class="menu-item search" id="search-desktop">
                        <input type="text" placeholder="Busca títulos o contenido..." id="search-input-desktop">
                        <a href="javascript:void(0);" class="search-button search-toggle" id="search-toggle-desktop" title="Buscar">
                            <i class="fas fa-search fa-fw" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);" class="search-button search-clear" id="search-clear-desktop" title="Limpiar">
                            <i class="fas fa-times-circle fa-fw" aria-hidden="true"></i>
                        </a>
                        <span class="search-button search-loading" id="search-loading-desktop">
                            <i class="fas fa-spinner fa-fw fa-spin" aria-hidden="true"></i>
                        </span>
                    </span></div>
        </div>
    </div>
</header><header class="mobile" id="header-mobile">
    <div class="header-container">
        <div class="header-wrapper">
            <div class="header-title">
                <a href="/" title="Si lo haces, hazlo bien!"><span class="header-title-pre"><i class='fa-brands fa-debian' aria-hidden='true'></i></span>Si lo haces, hazlo bien!</a>
            </div>
            <div class="menu-toggle" id="menu-toggle-mobile">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div class="menu" id="menu-mobile"><div class="search-wrapper">
                    <div class="search mobile" id="search-mobile">
                        <input type="text" placeholder="Busca títulos o contenido..." id="search-input-mobile">
                        <a href="javascript:void(0);" class="search-button search-toggle" id="search-toggle-mobile" title="Buscar">
                            <i class="fas fa-search fa-fw" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0);" class="search-button search-clear" id="search-clear-mobile" title="Limpiar">
                            <i class="fas fa-times-circle fa-fw" aria-hidden="true"></i>
                        </a>
                        <span class="search-button search-loading" id="search-loading-mobile">
                            <i class="fas fa-spinner fa-fw fa-spin" aria-hidden="true"></i>
                        </span>
                    </div>
                    <a href="javascript:void(0);" class="search-cancel" id="search-cancel-mobile">
                        Cancelar
                    </a>
                </div><a class="menu-item" href="/posts/" title="">Posts</a><a class="menu-item" href="https://vsantos.envs.net" title="Llibres" rel="noopener noreffer" target="_blank">Llibres</a><a class="menu-item" href="/tags/" title="">Etiquetas</a><a class="menu-item" href="/categories/" title="">Categories</a><a class="menu-item" href="/about/" title="">About</a><a href="javascript:void(0);" class="menu-item theme-switch" title="Cambia el tema">
                <i class="fas fa-adjust fa-fw" aria-hidden="true"></i>
            </a></div>
    </div>
</header><div class="search-dropdown desktop">
        <div id="search-dropdown-desktop"></div>
    </div>
    <div class="search-dropdown mobile">
        <div id="search-dropdown-mobile"></div>
    </div><main class="main">
                <div class="container"><article class="page single"><h1 class="single-title animate__animated animate__flipInX">Cambios en el blog - 2</h1><div class="post-meta">
            <div class="post-meta-line"><span class="post-author"><a href="/" title="Author" rel="author" class="author"><i class="fas fa-user-circle fa-fw" aria-hidden="true"></i>vsantos</a></span>&nbsp;<span class="post-category">incluido en <a href="/categories/blog/"><i class="far fa-folder fa-fw" aria-hidden="true"></i>Blog</a></span></div>
            <div class="post-meta-line"><i class="far fa-calendar-alt fa-fw" aria-hidden="true"></i>&nbsp;<time datetime="30-05-2024">30-05-2024</time>&nbsp;<i class="fas fa-pencil-alt fa-fw" aria-hidden="true"></i>&nbsp;1325 palabras&nbsp;
                <i class="far fa-clock fa-fw" aria-hidden="true"></i>&nbsp;7 minutos&nbsp;</div>
        </div><div class="content" id="content"><p>Como ya explique en el anterior <a href="/2024-05-24-cambios-blog-1" rel="">articulo</a>, comentaba que habia actualizado mi <strong>Blog / Pagina Web</strong> con un nuevo tema gracias a <em>Jekyll</em> y al final hice el cambio, con unos cuantos problemas pero lo hice. Y aqui podeis ver el resultado&hellip;</p>
<p>Pero aun asi, habia cosas que no acababan de funcionar y eran:</p>
<ul>
<li>El feed no se creaba correctamente porque las direcciones de los posts apuntaban a http://0.0.0.0:4000
<ul>
<li>Esta es la dirección por defecto del servidor de jekyll de desarrollo.</li>
</ul>
</li>
<li>En los articulos salia la opción de <strong>SHARE</strong> y aun desactivando las redes sociales, esta opción no desaparecia.</li>
</ul>
<p>La parte más facil fue la de hacer desaparecer la opción <strong>SHARE</strong> de los post. Hice una modificación al codigo para que a partir de una variable <em>activase</em> la opción de <strong>SHARE</strong> o no.</p>
<p>La primera modificación se tenia que hacer en el archivo <code>_data/social.yml</code> donde tenemos que añadir lo siguiente:</p>
<div class="code-block code-line-numbers open" style="counter-reset: code-block 0">
    <div class="code-header language-yaml">
        <span class="code-title"><i class="arrow fas fa-angle-right fa-fw" aria-hidden="true"></i></span>
        <span class="ellipses"><i class="fas fa-ellipsis-h fa-fw" aria-hidden="true"></i></span>
        <span class="copy" title="Copiar al portapapeles"><i class="far fa-copy fa-fw" aria-hidden="true"></i></span>
    </div><div class="highlight"><pre tabindex="0" class="chroma"><code class="language-yaml" data-lang="yaml"><span class="line"><span class="cl"><span class="c"># add this new option:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="c"># For share on general</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">share_buttons</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span></span></span></code></pre></div></div>
<p>Una vez realizada esta modificación, la siguiente modificación se tenia que hacer en <code>_includes/social/share_buttons.liquid</code> donde teniamos que añadir el siguiente codigo:</p>
<div class="code-block code-line-numbers open" style="counter-reset: code-block 0">
    <div class="code-header language-javascript">
        <span class="code-title"><i class="arrow fas fa-angle-right fa-fw" aria-hidden="true"></i></span>
        <span class="ellipses"><i class="fas fa-ellipsis-h fa-fw" aria-hidden="true"></i></span>
        <span class="copy" title="Copiar al portapapeles"><i class="far fa-copy fa-fw" aria-hidden="true"></i></span>
    </div><div class="highlight"><pre tabindex="0" class="chroma"><code class="language-javascript" data-lang="javascript"><span class="line"><span class="cl"><span class="p">{</span><span class="o">%</span> <span class="k">if</span> <span class="nx">site</span><span class="p">.</span><span class="nx">data</span><span class="p">.</span><span class="nx">social</span><span class="p">.</span><span class="nx">share_buttons</span> <span class="o">%</span><span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="p">...</span>
</span></span><span class="line"><span class="cl"><span class="p">{</span><span class="o">%</span> <span class="nx">endif</span> <span class="o">%</span><span class="p">}</span></span></span></code></pre></div></div>
<p>Y con esto se conseguia que los iconos de <strong>SHARE</strong> no se visualizaran.</p>
<p>Una vez realizada esta modificación, hable con el creador del tema para plantearle esta modificación y que se lo añadiera al tema. Después de un pequeño problema de comunicación, al final nos entendimos los dos con respecto a lo que le estaba proponiendo y le pareció una buena idea y que no habia ningun problema, que o yo hacia el <strong>PULL REQUEST</strong>, o sino tenia mucha prisa el se encargaria de hacer las modificaciones oportunas.</p>
<p>Le dije que mejor lo hiciera el, porque hacer los <strong>PR</strong> en codigo ajeno al mio no me hace mucha gracias, no vaya ser que la lie. Además no tenia prisa.</p>
<p>Y asi quedo la cosa, con esta modificación a la espera, pero en mi caso, como ya la tenia, pues adelante. Pero pasado un dia, el desarrollador del tema, me respondiendo a mi petición, indicando que esto ya lo hacia por defecto. A mi me extraño mucho, porque yo lo habia probado y no habia pasado nada.</p>
<p>El me puntualizo, que para activar esta funcionalidad, en el fichero <code>_data/social.yml</code> tenia que poner a <code>false</code> todas las redes sociales y con esto ya funcionaba lo que yo queria:</p>
<div class="code-block code-line-numbers open" style="counter-reset: code-block 0">
    <div class="code-header language-yaml">
        <span class="code-title"><i class="arrow fas fa-angle-right fa-fw" aria-hidden="true"></i></span>
        <span class="ellipses"><i class="fas fa-ellipsis-h fa-fw" aria-hidden="true"></i></span>
        <span class="copy" title="Copiar al portapapeles"><i class="far fa-copy fa-fw" aria-hidden="true"></i></span>
    </div><div class="highlight"><pre tabindex="0" class="chroma"><code class="language-yaml" data-lang="yaml"><span class="line"><span class="cl"><span class="c"># For the share button options at the bottom of the articles</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w"></span><span class="nt">share</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">email</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">facebook</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">linkedin</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">pinterest</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">pocket</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">reddit</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">tumblr</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">twitter</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">wordpress</span><span class="p">:</span><span class="w"> </span><span class="kc">false</span></span></span></code></pre></div></div>
<p>Asi que lo probe y tenia razon. Lo que el decia funcionaba perfectamente.</p>
<p>Ahi fue cuando le pregunte, si ese fichero no es el que controla los iconos que aparecen en el <strong>footer</strong> de la web, y su respuesta fue, que no, ese fichero es el que controla la opción <strong>SHARE</strong>. El que controla el footer es <code>_data/icons.yml</code>. Entonces dije, <em>tierra tragame</em>.</p>
<p>Eso me pasa por no revisar concienzudamente el codigo para asi entender lo que esta haciendo, porque lo más fuerte es que el codigo es muy facil de entender. Lo que hace estar fuera de este mundo durante un par de años. Que todo avanza muy rapidamente.</p>
<p>Asi que deshice las modificaciones que habia hecho y todo funciono correctamente.</p>
<p>Pero ahora venia el problema más grave, como solucionar el tema del <code>feed.yml</code> que no apuntaba correctamente a la dirección de los articulos cuando se subia a <strong>github.com</strong>. Me pase dias y dias intentando buscar la solución al problema. Mucha gente decia que si ponias en el fichero <code>_config.yml</code>, en la opción <em>feed</em> la opción <em>url</em> de la siguiente manera:</p>
<div class="code-block code-line-numbers open" style="counter-reset: code-block 0">
    <div class="code-header language-yaml">
        <span class="code-title"><i class="arrow fas fa-angle-right fa-fw" aria-hidden="true"></i></span>
        <span class="ellipses"><i class="fas fa-ellipsis-h fa-fw" aria-hidden="true"></i></span>
        <span class="copy" title="Copiar al portapapeles"><i class="far fa-copy fa-fw" aria-hidden="true"></i></span>
    </div><div class="highlight"><pre tabindex="0" class="chroma"><code class="language-yaml" data-lang="yaml"><span class="line"><span class="cl"><span class="nt">feed</span><span class="p">:</span><span class="w">
</span></span></span><span class="line"><span class="cl"><span class="w">  </span><span class="nt">url</span><span class="p">:</span><span class="w"> </span><span class="l">https://tudominio.github.io</span></span></span></code></pre></div></div>
<p>Funcionaba sin ningun problema. Pero no era mi caso. Y era muy frustante no conseguir hacer funciona el <em>feed</em> correctamente. Asi que si no puedes con el, hazte uno propio y fue lo que hice, construir mi propio feed, para que a la hora de generar el sitio en <strong>github</strong> se creara automaticamente. El codigo que use era el siguiente:</p>
<div class="code-block code-line-numbers open" style="counter-reset: code-block 0">
    <div class="code-header language-html">
        <span class="code-title"><i class="arrow fas fa-angle-right fa-fw" aria-hidden="true"></i></span>
        <span class="ellipses"><i class="fas fa-ellipsis-h fa-fw" aria-hidden="true"></i></span>
        <span class="copy" title="Copiar al portapapeles"><i class="far fa-copy fa-fw" aria-hidden="true"></i></span>
    </div><div class="highlight"><pre tabindex="0" class="chroma"><code class="language-html" data-lang="html"><span class="line"><span class="cl"><span class="cp">&lt;?xml version=&#34;1.0&#34; encoding=&#34;UTF-8&#34;?&gt;</span>
</span></span><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">rss</span> <span class="na">version</span><span class="o">=</span><span class="s">&#34;2.0&#34;</span> <span class="na">xmlns:atom</span><span class="o">=</span><span class="s">&#34;http://www.w3.org/2005/Atom&#34;</span>
</span></span><span class="line"><span class="cl">  <span class="na">xmlns:dc</span><span class="o">=</span><span class="s">&#34;http://purl.org/dc/elements/1.1/&#34;</span>
</span></span><span class="line"><span class="cl">  <span class="na">xmlns:sy</span><span class="o">=</span><span class="s">&#34;http://purl.org/rss/1.0/modules/syndication/&#34;</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">  <span class="p">&lt;</span><span class="nt">channel</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>{{ site.name | xml_escape }}<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">description</span><span class="p">&gt;</span>{% if site.description{{ site.description | xml_escape }}{% endif<span class="p">&lt;/</span><span class="nt">description</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">sy:updatePeriod</span><span class="p">&gt;</span>{{ site.feed_update_period | default: &#34;daily&#34; | xml_escape }}<span class="p">&lt;/</span><span class="nt">sy:updatePeriod</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">sy:updateFrequency</span><span class="p">&gt;</span>{{ site.feed_update_frequency | default: 1 | xml_escape }}<span class="p">&lt;/</span><span class="nt">sy:updateFrequency</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">link</span><span class="p">&gt;</span>{{ site.url }}<span class="p">&lt;/</span><span class="nt">link</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">atom:link</span> <span class="na">href</span><span class="o">=</span><span class="s">&#34;{{ site.url }}/{{ page.path }}&#34;</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#34;self&#34;</span> <span class="na">type</span><span class="o">=</span><span class="s">&#34;application/rss+xml&#34;</span> <span class="p">/&gt;</span>
</span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">lastBuildDate</span><span class="p">&gt;</span>{% for post in site.posts limit:1{{ post.date | date_to_rfc822 }}{% endfor<span class="p">&lt;/</span><span class="nt">lastBuildDate</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    {% assign feed_items = site.feed_items | default: 10
</span></span><span class="line"><span class="cl">    {% for post in site.posts limit:feed_items
</span></span><span class="line"><span class="cl">      <span class="p">&lt;</span><span class="nt">item</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">        <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>{{ post.title | xml_escape }}<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">        {% if post.author.name
</span></span><span class="line"><span class="cl">          <span class="p">&lt;</span><span class="nt">dc:creator</span><span class="p">&gt;</span>{{ post.author.name | xml_escape }}<span class="p">&lt;/</span><span class="nt">dc:creator</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">        {% endif
</span></span><span class="line"><span class="cl">        {% if post.excerpt
</span></span><span class="line"><span class="cl">          <span class="p">&lt;</span><span class="nt">description</span><span class="p">&gt;</span>{{ post.excerpt | xml_escape }}<span class="p">&lt;/</span><span class="nt">description</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">        {% else
</span></span><span class="line"><span class="cl">          <span class="p">&lt;</span><span class="nt">description</span><span class="p">&gt;</span>{{ post.content | xml_escape }}<span class="p">&lt;/</span><span class="nt">description</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">        {% endif
</span></span><span class="line"><span class="cl">        <span class="p">&lt;</span><span class="nt">pubDate</span><span class="p">&gt;</span>{{ post.date | date_to_rfc822 }}<span class="p">&lt;/</span><span class="nt">pubDate</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">        <span class="p">&lt;</span><span class="nt">link</span><span class="p">&gt;</span>{{ site.url }}{{ post.url }}<span class="p">&lt;/</span><span class="nt">link</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">        <span class="p">&lt;</span><span class="nt">guid</span> <span class="na">isPermaLink</span><span class="o">=</span><span class="s">&#34;true&#34;</span><span class="p">&gt;</span>{{ site.url }}{{ post.url }}<span class="p">&lt;/</span><span class="nt">guid</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">        <span class="p">&lt;/</span><span class="nt">item</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl">    {% endfor
</span></span><span class="line"><span class="cl">  <span class="p">&lt;/</span><span class="nt">channel</span><span class="p">&gt;</span>
</span></span><span class="line"><span class="cl"><span class="p">&lt;/</span><span class="nt">rss</span><span class="p">&gt;</span></span></span></code></pre></div></div>
<p>Como cogia la información del fichero <code>_config.yml</code> para la creación de los links, pues no habia problema.</p>
<p>Pero yo no queria esta chapuza, por llamarlo de alguna manera. Yo queria utilizar todo el potencial de <em>jekyll</em> y que fuera él, el que me creara el feed, porque sino, para eso, me hago yo el tema. Lo unico que me quedaba, era preguntar directamente a la <a href="https://talk.jekyllrb.com/t/jekyll-always-0-0-0-0-4000/9204" target="_blank" rel="noopener noreffer ">fuente</a>, donde explique el problema y como hacia para construir el sitio y después subirlo a <strong>GitHub</strong>.</p>
<p>Aqui fue donde explique que usaba un archivo sh, este en <a href="/2023-08-10-como-funciona-esta-web" rel="">concreto</a> que hacia las siguientes funciones:</p>
<ul>
<li>Construir el sitio añadiendo los nuevos posts, recordar que yo todo esto lo tengo en docker:</li>
</ul>
<div class="code-block code-line-numbers open" style="counter-reset: code-block 0">
    <div class="code-header language-bash">
        <span class="code-title"><i class="arrow fas fa-angle-right fa-fw" aria-hidden="true"></i></span>
        <span class="ellipses"><i class="fas fa-ellipsis-h fa-fw" aria-hidden="true"></i></span>
        <span class="copy" title="Copiar al portapapeles"><i class="far fa-copy fa-fw" aria-hidden="true"></i></span>
    </div><div class="highlight"><pre tabindex="0" class="chroma"><code class="language-bash" data-lang="bash"><span class="line"><span class="cl">docker <span class="nb">exec</span> jekyll bundle <span class="nb">exec</span> jekyll serve build</span></span></code></pre></div></div>
<ul>
<li>Subir los archivos <code>html</code> a <strong>GitHub</strong>.</li>
</ul>
<p>La primera respuesta que me dieron, que tienen mucha razon, fue, porque hacia eso, si eso lo podia hacer <strong>GitHub</strong> directamente y tienen toda la razon, pero les dije, que no me hacia mucha gracias subir todo el <code>codigo fuente</code> de mi web. Que preferia, en mi caso, tener el control del codigo fuente y subir solamente el codigo html final.</p>
<p>Hay fue donde me dijeron que entonces, el problema lo tenia yo, porque no entendia bien como funcionaba <strong>jekyll</strong>, 😭 lo que siempre me pasa por no leer y comprender el funcionamiento de las cosas, y en este caso de <em>jekyll</em>. Entonces me explicaron, que la instrucción que yo estaba usando, lo que hacia era:</p>
<ul>
<li><code>serve</code> es crear, más o menos, con lo parametros del servidor de docker y mostrarme el resultado, pero sino ninguna modificación.
<ul>
<li>O sea usando por defecto la dirección del servidor <code>http://0.0.0.0:4000</code></li>
</ul>
</li>
<li><code>build</code> lo que hace es construir el sitio usando la configuración del fichero <code>_config.yml</code>.</li>
</ul>
<p>Lo que yo estaba haciendo a parte de no tener sentido era <em>crear</em> y <em>construir</em> el sitio con los valors por defecto del servidor y por eso, el feed no se creaba correctamente. Que lo correcto, era usar <code>jekyll build</code>. Y asi que me fue.</p>
<p>Lo que puede pasar por no entender lo que haces. Y funciono 🥲. Al usar <em>build</em> el feed y todo el resto de ficheros, <em>sitemap.yml</em>, <em>robots.txt</em>, se creaban usando los valores de <code>_config.yml</code>.</p>
<p>Pues ya estaba todo. Por fin tenia todo el tema funcionando correctamente y lo mas impportante, sin necesidad de utilizar ninguna funcionalidad externa a <em>jekyll</em>, para que asi, en un futuro, espero que lejano, si quiero cambiar de nuevo de tema, no tener que volver a pelearme con el codigo para conseguir que funcione correctamente.</p>
<p>Aunque esto no es del todo cierto, porque cada tema, tiene su manera particular de crear los posts, pero bueno, eso es otro tema.</p>
<p>Hasta aqui hemos llegado. Con mi sitio con un tema nuevo y a pleno rendimiento y con tiempo para decidar a otras cosas que tengo pendientes y sin tener que preocuparme por su funcionamiento. Lo unico que me queda, si, nunca se puede decir que todo esta perfecto, es, como el tema tiene esa posibilidad, la de añadir alguna imagen de cabecera de los articulos. Pero eso ya se vera.</p>
<h4 id="referencia">Referencia</h4>
<ul>
<li><a href="https://github.com/sylhare/Type-on-Strap/discussions/442" target="_blank" rel="noopener noreffer ">Modificar opción SHARE</a></li>
<li><a href="https://talk.jekyllrb.com/t/jekyll-always-0-0-0-0-4000/9204" target="_blank" rel="noopener noreffer ">Jekyll always 0.0.0.0:4000</a></li>
</ul></div><div class="post-footer" id="post-footer">
    <div class="post-info">
        <div class="post-info-line">
            <div class="post-info-mod">
                <span>Actualizado el 30-05-2024</span>
            </div></div>
        <div class="post-info-line">
            <div class="post-info-md"></div>
            <div class="post-info-share">
                <span></span>
            </div>
        </div>
    </div>

    <div class="post-info-more">
        <section class="post-tags"><i class="fas fa-tags fa-fw" aria-hidden="true"></i>&nbsp;<a href="/tags/blog/">Blog</a></section>
        <section>
            <span><a href="javascript:void(0);" onclick="window.history.back();">Regresar</a></span>&nbsp;|&nbsp;<span><a href="/">Inicio</a></span>
        </section>
    </div>

    <div class="post-nav"><a href="/2024-05-24-cambios-blog-1/" class="prev" rel="prev" title="Cambios en el blog - 1"><i class="fas fa-angle-left fa-fw" aria-hidden="true"></i>Cambios en el blog - 1</a>
            <a href="/2024-06-03-usando-homepage-2/" class="next" rel="next" title="Usando HomePage. El Dashboard - 2">Usando HomePage. El Dashboard - 2<i class="fas fa-angle-right fa-fw" aria-hidden="true"></i></a></div>
</div>
</article></div>
            </main><footer class="footer">
        <div class="footer-container"><div class="footer-line">Con la tecnología de <a href="https://gohugo.io/" target="_blank" rel="noopener noreffer" title="Hugo 0.150.0">Hugo</a> | Tema - <a href="https://github.com/dillonzq/LoveIt" target="_blank" rel="noopener noreffer" title="LoveIt 0.3.1-DEV"><i class="far fa-kiss-wink-heart fa-fw" aria-hidden="true"></i> LoveIt</a>
                </div><div class="footer-line" itemscope itemtype="http://schema.org/CreativeWork"><i class="far fa-copyright fa-fw" aria-hidden="true"></i><span itemprop="copyrightYear">2008 - 2025</span>&nbsp;|&nbsp;<span class="license"><a rel="license external nofollow noopener noreffer" href="https://creativecommons.org/licenses/by-nc/4.0/deed.ca" target="_blank">CC BY-NC 4.0</a></span></div></div>
    </footer></div>

        <div id="fixed-buttons"><a href="#" id="back-to-top" class="fixed-button" title="Volver arriba">
                <i class="fas fa-arrow-up fa-fw" aria-hidden="true"></i>
            </a>
        </div>

        <div id="fixed-buttons-hidden"><a href="#" id="view-comments" class="fixed-button" title="Ver comentarios">
                <i class="fas fa-comment fa-fw" aria-hidden="true"></i>
            </a>
        </div><script src="https://cdn.jsdelivr.net/npm/autocomplete.js@0.38.1/dist/autocomplete.min.js"></script><script src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js"></script><script src="/lib/lunr/lunr.stemmer.support.min.js"></script><script src="/lib/lunr/lunr.es.min.js"></script><script src="https://cdn.jsdelivr.net/npm/lazysizes@5.3.2/lazysizes.min.js"></script><script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script><script>window.config={"comment":{},"search":{"highlightTag":"em","lunrIndexURL":"/index.json","lunrLanguageCode":"es","maxResultLength":10,"noResultsFound":"No se encontraron resultados","snippetLength":30,"type":"lunr"}};</script><script src="/js/theme.min.js"></script><script src="https://umami.ahnenerbe.duckdns.org/script.js" async defer data-website-id="16669dc9-2f84-4950-8161-64717ea91750"></script></body>
</html>
